body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.contacts,
.page-nav-link{
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}

.page-nav-link:hover,
.page-nav-link:focus,
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
button {
  background: #4d5ae5;
}
button:hover {
  background: #404bbf;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
span {
    color:  #2e2f42;    
}
